*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding-top: 0px;
}

.bg{
	background: url(landscape.jpg) no-repeat center center/cover;
	position: absolute;
	top: -30;
	left: -30;
	width: calc(100vw + 60px);
	height: calc(100vh + 60px);
	z-index: -1;
	filter: blur(0px);


}
.loading-text{
	font-size: 50px;
	color: #fff;
}
#space{
	padding-top: 300px;
}